# $HOME/.config/systemd/user/himawaripy.service

[Unit]
Description=Update desktop background with satellite imagery

[Service]
Type=oneshot
ExecStart=/usr/bin/himawaripy
